{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-1 text-center">
        World Weather
    </h1>
  </div>
<section class="container">
    <div class="row ">
        <div class="col-md-6">
            <h2 class="text-center">Weather in your area</h2>
            <div class="input-group mt-4 mb-3">
                <input type="text" class="form-control" placeholder="Search Your Local Weather" aria-label="search city" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-success" type="button" id="button-addon2">Search Area</button>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ weather.city }}</h5>
                  <figure class="figure">
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" class="figure-img img-fluid rounded" alt="Weather Icon">
                    <figcaption class="figure-caption">{{ weather.temperature }}</figcaption>
                  </figure>
                  <p class="card-text">{{ weather.description }}</p>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center mb-4">Summary</h2>
            <div class="d-flex justify-content-center" id="openweathermap-widget-5"></div>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 5,cityid: '2643743',appid: '5cb9ee36fb67bfb0f02a55cc6c16f165',units: 'metric',containerid: 'openweathermap-widget-5',  });  
            (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";
            script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(script, s);  })();
            </script>
</section>
{% endblock content %}

