{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-1 text-center text-uppercase">
        World Weather
    </h1>
    <form class="mt-4 w-50" method="POST" >
      <input type="text" name="city" class="form-control"  placeholder="Search For Your City">
      <button class="btn btn-outline-success mb-4 mt-4" type="submit" id="button-addon2">Search Area</button>
  </form>
  </div>
  <h2 class="text-center mb-3 text-uppercase">Weather in your area</h2>
<section class="d-flex w-auto mx-auto flex-row flex-wrap">
          {% for weather in weather_data %}
            <div class="w-25 p-2 pb-3 text-center">
              <div class="card-body w-100">
                <h5 class="card-title text-uppercase">{{ weather.city }}</h5>
                <figure class="figure">
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" class="figure-img img-fluid w-100" alt="Weather Icon">
                    <figcaption class="figure-caption">{{ weather.temperature }} F</figcaption>
                </figure>
                <p class="card-text lead">{{ weather.description }}</p>
              </div>
            </div>
         
          {% endfor %}
</section>
{% endblock content %}

